
/Src/UserGroupCms.Tests/bin/Debug/8e6e9de786448d82.tmp.config
/Src/UserGroupCms.Tests/bin/Debug/Castle.ActiveRecord.dll
/Src/UserGroupCms.Tests/bin/Debug/Castle.ActiveRecord.xml
/Src/UserGroupCms.Tests/bin/Debug/Castle.Components.Validator.dll
/Src/UserGroupCms.Tests/bin/Debug/Castle.Components.Validator.xml
/Src/UserGroupCms.Tests/bin/Debug/Castle.Core.dll
/Src/UserGroupCms.Tests/bin/Debug/Castle.Core.xml
/Src/UserGroupCms.Tests/bin/Debug/Gallio.XmlSerializers.dll
/Src/UserGroupCms.Tests/bin/Debug/Gallio.dll
/Src/UserGroupCms.Tests/bin/Debug/Gallio.pdb
/Src/UserGroupCms.Tests/bin/Debug/Gallio.xml
/Src/UserGroupCms.Tests/bin/Debug/Gallio35.dll
/Src/UserGroupCms.Tests/bin/Debug/Gallio35.pdb
/Src/UserGroupCms.Tests/bin/Debug/Gallio35.xml
/Src/UserGroupCms.Tests/bin/Debug/Iesi.Collections.dll
/Src/UserGroupCms.Tests/bin/Debug/Iesi.Collections.xml
/Src/UserGroupCms.Tests/bin/Debug/MbUnit.dll
/Src/UserGroupCms.Tests/bin/Debug/MbUnit.pdb
/Src/UserGroupCms.Tests/bin/Debug/MbUnit.xml
/Src/UserGroupCms.Tests/bin/Debug/MbUnit35.dll
/Src/UserGroupCms.Tests/bin/Debug/MbUnit35.pdb
/Src/UserGroupCms.Tests/bin/Debug/MbUnit35.xml
/Src/UserGroupCms.Tests/bin/Debug/NHibernate.dll
/Src/UserGroupCms.Tests/bin/Debug/NHibernate.xml
/Src/UserGroupCms.Tests/bin/Debug/UserGroupCms.Tests.dll
/Src/UserGroupCms.Tests/bin/Debug/UserGroupCms.Tests.dll.config
/Src/UserGroupCms.Tests/bin/Debug/UserGroupCms.Tests.pdb
/Src/UserGroupCms.Tests/bin/Debug/UserGroupCms.dll
/Src/UserGroupCms.Tests/bin/Debug/UserGroupCms.pdb
/Src/UserGroupCms.Tests/bin/Debug/log4net.dll
/Src/UserGroupCms.Tests/bin/Debug/log4net.xml
/Src/UserGroupCms.Tests/obj/Debug/ResolveAssemblyReference.cache
/Src/UserGroupCms.Tests/obj/Debug/UserGroupCms.Tests.csproj.FileListAbsolute.txt
/Src/UserGroupCms.Tests/obj/Debug/UserGroupCms.Tests.dll
/Src/UserGroupCms.Tests/obj/Debug/UserGroupCms.Tests.pdb
/Src/UserGroupCms.suo
/Src/UserGroupCms/bin/Castle.ActiveRecord.dll
/Src/UserGroupCms/bin/Castle.ActiveRecord.xml
/Src/UserGroupCms/bin/Castle.Components.Validator.dll
/Src/UserGroupCms/bin/Castle.Components.Validator.xml
/Src/UserGroupCms/bin/Castle.Core.dll
/Src/UserGroupCms/bin/Castle.Core.xml
/Src/UserGroupCms/bin/Iesi.Collections.dll
/Src/UserGroupCms/bin/Iesi.Collections.xml
/Src/UserGroupCms/bin/NHibernate.dll
/Src/UserGroupCms/bin/NHibernate.xml
/Src/UserGroupCms/bin/UserGroupCms.dll
/Src/UserGroupCms/bin/UserGroupCms.pdb
/Src/_ReSharper.UserGroupCms/171539d3-31ac-43f5-8cb9-74219bd7857d.Metadata
/Src/_ReSharper.UserGroupCms/171539d3-31ac-43f5-8cb9-74219bd7857d.XmlDocIndex
/Src/_ReSharper.UserGroupCms/2d57b5a4-3956-4d1f-a9e2-894355a3a365.Metadata
/Src/_ReSharper.UserGroupCms/2d57b5a4-3956-4d1f-a9e2-894355a3a365.XmlDocIndex
/Src/_ReSharper.UserGroupCms/497958fa-fc7e-4b66-9128-7f9242bcad75.Metadata
/Src/_ReSharper.UserGroupCms/497958fa-fc7e-4b66-9128-7f9242bcad75.XmlDocIndex
/Src/_ReSharper.UserGroupCms/51a71993-e034-4093-af61-3fd0a644e009.Metadata
/Src/_ReSharper.UserGroupCms/51a71993-e034-4093-af61-3fd0a644e009.XmlDocIndex
/Src/_ReSharper.UserGroupCms/79325b65-d61b-4853-ba32-04699162cb2e.Metadata
/Src/_ReSharper.UserGroupCms/79325b65-d61b-4853-ba32-04699162cb2e.XmlDocIndex
/Src/_ReSharper.UserGroupCms/860e4da2-19c5-49fb-bd66-556df6ffc87e.Metadata
/Src/_ReSharper.UserGroupCms/860e4da2-19c5-49fb-bd66-556df6ffc87e.XmlDocIndex
/Src/_ReSharper.UserGroupCms/8ce818b5-400f-46a6-8d83-05f1cd9bc55f.Metadata
/Src/_ReSharper.UserGroupCms/8ce818b5-400f-46a6-8d83-05f1cd9bc55f.XmlDocIndex
/Src/_ReSharper.UserGroupCms/9958f092-94a9-457f-b196-3f9f59254bd0.Metadata
/Src/_ReSharper.UserGroupCms/9958f092-94a9-457f-b196-3f9f59254bd0.XmlDocIndex
/Src/_ReSharper.UserGroupCms/CachesImage.bin
/Src/_ReSharper.UserGroupCms/ReflectionCache.xml
/Src/_ReSharper.UserGroupCms/TodoCache/.version
/Src/_ReSharper.UserGroupCms/TodoCache/6/7571cb68.dat
/Src/_ReSharper.UserGroupCms/WordIndex.New/.version
/Src/_ReSharper.UserGroupCms/WordIndex.New/7/4214acf7.dat
/Src/_ReSharper.UserGroupCms/ac336d13-28be-4434-9dab-05b1260b75df.Metadata
/Src/_ReSharper.UserGroupCms/ac336d13-28be-4434-9dab-05b1260b75df.XmlDocIndex
/Src/_ReSharper.UserGroupCms/b8ed9947-8371-4215-88a7-f54a11870056.Metadata
/Src/_ReSharper.UserGroupCms/b8ed9947-8371-4215-88a7-f54a11870056.XmlDocIndex
/Src/_ReSharper.UserGroupCms/c6d0ffce-4643-41a0-8af5-852891cdb246.Metadata
/Src/_ReSharper.UserGroupCms/c6d0ffce-4643-41a0-8af5-852891cdb246.XmlDocIndex
/Src/_ReSharper.UserGroupCms/da923408-2480-41cc-b758-861e620e4d67.Metadata
/Src/_ReSharper.UserGroupCms/da923408-2480-41cc-b758-861e620e4d67.XmlDocIndex
/Src/_ReSharper.UserGroupCms/f227f1ec-b5c6-4e6f-b7ce-de6d330520ce.Metadata
/Src/_ReSharper.UserGroupCms/f227f1ec-b5c6-4e6f-b7ce-de6d330520ce.XmlDocIndex
/Src/_ReSharper.UserGroupCms/f48f6e6f-8c43-4991-9351-6a261a524313.Metadata
/Src/_ReSharper.UserGroupCms/f48f6e6f-8c43-4991-9351-6a261a524313.XmlDocIndex
/Src/.gitignore
/Src/UserGroupCms/bin/log4net.dll
/Src/UserGroupCms/bin/log4net.xml
/Src/UserGroupCms/obj/Debug/ResolveAssemblyReference.cache
/Src/UserGroupCms/obj/Debug/UserGroupCms.csproj.FileListAbsolute.txt
/Src/UserGroupCms/obj/Debug/UserGroupCms.dll
/Src/UserGroupCms/obj/Debug/UserGroupCms.pdb
/Src/UserGroupCms.Tests/bin/Debug/DotNetOpenId.dll
/Src/UserGroupCms.Tests/bin/Debug/DotNetOpenId.pdb
/Src/UserGroupCms.Tests/bin/Debug/DotNetOpenId.xml
/Src/UserGroupCms/bin/DotNetOpenId.dll
/Src/UserGroupCms/bin/DotNetOpenId.pdb
/Src/UserGroupCms/bin/DotNetOpenId.xml
/Src/_ReSharper.UserGroupCms/8ebced8b-1564-4c0e-a2b3-eec9ae1a3d11.Metadata
/Src/_ReSharper.UserGroupCms/8ebced8b-1564-4c0e-a2b3-eec9ae1a3d11.XmlDocIndex
/Src/_ReSharper.UserGroupCms/WordIndex.New/2/48f7ce41.dat
/Src/UserGroupCms.Tests/bin/Debug/Create.sql
/Src/UserGroupCms.Tests/bin/Debug/MySql.Data.dll
/Src/UserGroupCms.Tests/bin/Debug/MySql.Data.pdb
/Src/UserGroupCms/bin/MySql.Data.dll
/Src/UserGroupCms/bin/MySql.Data.pdb
/Src/UserGroupCms/bin/System.Web.Abstractions.dll
/Src/UserGroupCms/bin/System.Web.Mvc.dll
/Src/UserGroupCms/bin/System.Web.Mvc.xml
/Src/UserGroupCms/bin/System.Web.Routing.dll
/Src/_ReSharper.UserGroupCms/WordIndex.New/8/b907501.dat
/Src/_ReSharper.UserGroupCms/b5d7894d-b743-4825-babf-85d4f27347a1.Metadata
/Src/_ReSharper.UserGroupCms/d037b8ee-0a73-4b93-91bf-9ee4a901435b.Metadata
/Src/UserGroupCms/UserGroupCms.Publish.xml
/Src/UserGroupCms.Tests/bin/Debug/System.Web.Mvc.dll
/Src/UserGroupCms.Tests/bin/Debug/System.Web.Mvc.xml
/Src/UserGroupCms/bin/System.Web.dll
/Src/UserGroupCms.Tests/bin/.DS_Store
/Src/UserGroupCms.Tests/bin/Debug/Castle.ActiveRecord.pdb
/Src/UserGroupCms.Tests/bin/Debug/Castle.Components.Validator.pdb
/Src/UserGroupCms.Tests/bin/Debug/Castle.Core.pdb
/Src/UserGroupCms.Tests/bin/Debug/NHibernate.ByteCode.Castle.dll
/Src/UserGroupCms.Tests/bin/Debug/NHibernate.ByteCode.Castle.xml
/Src/UserGroupCms/bin/Castle.ActiveRecord.pdb
/Src/UserGroupCms/bin/Castle.Components.Validator.pdb
/Src/UserGroupCms/bin/Castle.Core.pdb
/Src/UserGroupCms/bin/NHibernate.ByteCode.Castle.dll
/Src/UserGroupCms/bin/NHibernate.ByteCode.Castle.xml
/Src/UserGroupCms/obj/Debug/Refactor/UserGroupCms.dll
/Src/_ReSharper.UserGroupCms/21684a84-8335-4163-8c86-e653e08aef6a.XmlDocIndex
/Src/_ReSharper.UserGroupCms/423b92c2-606f-4536-b842-40c7fc7957bb.XmlDocIndex
/Src/_ReSharper.UserGroupCms/TodoCache/8/60603873.dat
/Src/_ReSharper.UserGroupCms/WordIndex.New/1/520b0ad.dat
/Src/_ReSharper.UserGroupCms/WordIndex.New/8/4121982f.dat
/Src/_ReSharper.UserGroupCms/cab9d848-9836-4b80-8082-047aceac3f62.XmlDocIndex